Source: eta-java-installer
Section: kde
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://pardus.org.tr

Package: eta-java-installer
Architecture: all
Depends: default-jre
Description: Java Executor for ETAP
 This package installs desktop file that can execute
 jar files.
